#opacity {
  opacity: 1;
}
.Home {
  /* background-image: url("https://64.media.tumblr.com/9cf4e98cb7698c1433270b8c46225197/887045de5ce7786b-70/s640x960/de966695589a92442ef5a1c9fc179696add1d308.gif");
  opacity: 0.3; */
  text-align: center;
  margin: 5px;
  padding: 25px;
}

