#red{
    color:red;
}
#green{
    color:green;
}

.trivia-card{
    width: 250px;
    height: 500px;
    margin-bottom: 20px;
}

h3{
    padding-top: 15px;
}

button{
    border: solid 2px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
  margin: 10px;
}

.card{
    margin-top: 1rem;
  min-height: 300px;
  width: 250px;
  position: relative;
  border-radius: 0.25rem;

}

.front,
.back{
    box-sizing: border-box;
  border-radius: 0.25rem;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  
}

